html, body {
  height: 100%;
  margin: 0;
}

body{
  background: #152635 !important;
}
.vh-100 {
  min-height: 100vh;
}

.bg-dark-blue{
  background: #001529 !important;
  color: white;
}

.board{
  min-height: 600px !important;
}